body {
	font-family: Arial, sans-serif;
	font-weight: bolder;
}

img {
	min-height: 300px;
	max-height: 300px;
	width: auto;
}

h2 {
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}

.center {
	/* center this container */
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.button {
	min-width: 50px;
	max-width: 150px;
	height: auto;
	padding: 15px;
	background-color: pink;
	border: 1px solid black;
	border-radius: 10px;
	font-weight: bolder;
	font-family: Arial, sans-serif;
}

.button:hover {
	filter: brightness(0.8);
}

#content {
	flex-direction: column;
}

#yesH1 {
	margin-bottom: 0;
}
